<a href="https://colab.research.google.com/github/KIM-JUHUI25/EP_KHU/blob/main/week4/week4a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x=int(input("Enter a number:"))
if x>0:
   print("Positive number")
elif x<0:
  print ("Negative number")
else:
  print ("Zero")

Enter a number:-9
Negative number

In [6]:
age=int(input("Enter your age: "))
if age < 18:
  print("You are not eligible to vote")
elif age >= 18 and age < 65:
 print("You are eligible to vote")
else:
  print("You are eligible to vote, but not required to")

Enter your age: 22
You are eligible to vote

In [9]:
score= int(input("Enter you test score: "))
if score>= 90:
   print("You got an AI")
elif score>=80:
  print("You got a B.")
elif score>=70:
  print("You got a C.")
elif score>=60:
  print("You got a D.")
else:
  print("You failed the test.")

Enter you test score: 77
You got a C.

In [13]:
for i in range(2,10):
  for j in range(1,10):
    print(i*j, end=" ")
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [14]:
num=int(input("Enter a number: "))
for i in range(1,10):
  print (num,"x",i,"=",num*i)

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [22]:
numbers=[1,2,3,4,5,6,7,8,9,10]
squares=[x ** 2 for x in numbers if x % 2 == 0]
print(squares)

[4, 16, 36, 64, 100]

In [23]:
numbers=[1,2,3,4,5,]
squared_numbers=[x**2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [24]:
numbers=[1,2,3,4,5]
odd_numbers=[x for x in numbers if x % 2 !=0]
print(odd_numbers)

[1, 3, 5]

In [29]:
names=['Alice', 'Bob', 'Charlie']
name_tuples=[(name, len(name)) for name in names]
print(name_tuples)

[('Alice', 5), ('Bob', 3), ('Charlie', 7)]

In [27]:
a=[1,2,3,4,]
result=[]
for num in a:
  result.append(num*3)
print(result)

[3, 6, 9, 12]

In [28]:
a=[1,2,3,4]
result=[num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [30]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
flattened=[element for row in matrix for element in row]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
words=["hello", "world", "python"]
upper_words=[word.upper() for word in words]
print(upper_words)

['HELLO', 'WORLD', 'PYTHON']

In [33]:
result=[x*y for x in range(2,10)   for y in range (1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [34]:
treehit=0
while treehit<10:
  treehit=treehit+1
  print("나무를 %d번 찍었습니다." % treehit)
  if treehit== 10:
    print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [35]:
i=1
while i<= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [36]:
sum=0
i=1
while i <= 100:
  sum += i
  i += 1
print("The sum of numbers from 1 to 100 is:", sum)

The sum of numbers from 1 to 100 is: 5050

In [37]:
numbers=[]
num=int(input("Enter a number:"))
while num>=0:
  numbers.append(num)
  num= int(input("Enter another number:"))
print("The numbers enetered by the user are:", numbers)

Enter a number:9
Enter another number:8
Enter another number:-7
The numbers enetered by the user are: [9, 8]

In [38]:
string="hello"
i=len(string)-1
while i>=0:
  print(string[i], end="")
  i-= 1

olleh

In [39]:
num=123456
count=0
while num != 0:
  count += 1
  num//=10
  print(num)
print(count)

12345
1234
123
12
1
0
6

In [42]:
x=2
if x> 5:
  pass
else:
  print("x is less than or equal to 5")

x is less than or equal to 5

In [45]:
for i in range(10):
  if i == 5:
   break
  print(i)

0
1
2
3
4

In [46]:
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [47]:
numbers=[2,3,-1,4,-5,6]
index= None
for i in range(len(numbers)):
  if numbers[i]<0:
    index=i
    break
if index is not None:
  print(f"The first negative number is at index {index}.")
else:
  print("There are no negative numbers in the list.")

The first negative number is at index 2.