<a href="https://colab.research.google.com/github/KIM-JUHUI25/EP_KHU/blob/main/week3/week3b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
t1 = (1, 2, 'a', 'b')
f t1[0] = 'c'

IndentationError: ignored

In [7]:
>>> t1 = (1, 2, 'a', 'b')
>>> del t1[0]

TypeError: ignored

In [8]:
>>> t1 = (1, 2, 'a', 'b')
>>> t1[0]

1

In [9]:
>>> t1 = (1, 2, 'a', 'b')
>>> t1[1:]

(2, 'a', 'b')

In [10]:
>>> t1 = (1, 2, 'a', 'b')
>>> len(t1)

4

In [11]:
>>> t2 = (3, 4)
>>> t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [12]:
>>> t2 = (3, 4)
>>> t2 * 3

(3, 4, 3, 4, 3, 4)

In [13]:
 # create a tuple
 tup = (1,2,3,4,5)

 # access the second element
print(tup[1])

# access the last element
print(tup[-1])

2
5

In [14]:
# create a tuple
tup = (1,2,3)

# unpack the tuple
a,b,c=tup

# print the unpacked variables
print(a,b,c)

1 2 3

In [22]:
# create a tuple
tup = (1,2,3)

# convert tuple to list
lst = list(tup)

# print the list
print(lst)

[1, 2, 3]

In [20]:
# create two tuples 
tup1=(1,2,3)
tup2=(4,5,6)

# concatenate the tuples
tup3 = tup1 + tup2

# print the concatenated tuple
print(tup3)

(1, 2, 3, 4, 5, 6)

In [23]:
a={1: 'a'}
a[2] = 'b'
print(a)

a[0] = 'c'
print(a)

a['name']='Tom'
print(a)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 0: 'c'}
{1: 'a', 2: 'b', 0: 'c', 'name': 'Tom'}

In [24]:
del a ['name']
print(a)

{1: 'a', 2: 'b', 0: 'c'}

In [27]:
>>> grade={'pey': 10, 'juliet': 99}
>>> grade['pey']
>>> grade['juliet']

99

In [28]:
>>> a = {'name' : 'pey', 'phone' : '01022250658', 'birth' : '020225'}
>>> a.keys()

dict_keys(['name', 'phone', 'birth'])

In [31]:
>>> list(a.keys())

['name', 'phone', 'birth']

In [33]:
>>> a = {'name' : 'pey', 'phone' : '01022250658', 'birth' : '020225'}
>>> a.values()

dict_values(['pey', '01022250658', '020225'])

In [34]:
>>> a = {'name' : 'pey', 'phone' : '01022250658', 'birth' : '020225'}
>>> a.items()

dict_items([('name', 'pey'), ('phone', '01022250658'), ('birth', '020225')])

In [37]:
>>> a.clear()
>>> a

{}

In [38]:
a = {'name' : 'pey', 'phone' : '01022250658', 'birth' : '020225'}
'name' in a

True

In [39]:
a = {'name' : 'pey', 'phone' : '01022250658', 'birth' : '020225'}
a.get('name')

'pey'

In [40]:
a = {'name' : 'pey', 'phone' : '01022250658', 'birth' : '020225'}
print(a.get('nokey'))

None

In [42]:
a.get('foo','bar')

'bar'

In [52]:
a = {'name' : 'pey', 'phone' : '01022250658', 'birth' : '020225'}
for k in a.keys():
 print(k)

name
phone
birth

In [55]:
my_dict={"name":"John", "age": 30, "city" : "New York"}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [56]:
my_dict={"name":"John", "age": 30, "city" : "New York"}
print(my_dict["name"])

John

In [57]:
my_dict={"name":"John", "age": 30, "city" : "New York"}
my_dict["email"]="juhui0225@khu.ac.kr"
my_dict["age"]=31
print(my_dict)

{'name': 'John', 'age': 31, 'city': 'New York', 'email': 'juhui0225@khu.ac.kr'}

In [58]:
my_dict={"name":"John", "age": 30, "city" : "New York"}
del my_dict["age"]
print(my_dict)

{'name': 'John', 'city': 'New York'}